
</div>
<footer class="col-md-12 footer">


    <ul class="footerlink">
        <li>Follow:</li>
        <li><a href="https://instagram.com/thalliastree" class="grey">
                <i class="fab fa-instagram"></i> Instagram</a></li>
        
                <li><a href="https://gitlab.com/thallia" class="grey">
                        <i class="fab fa-gitlab"></i> Gitlab
                    </a>
                </li>
                <li><a href="https://discord.gg/sCkCkyw" class="grey">
                        <i class="fab fa-discord"></i> Discord
                    </a>
                </li>
                <li><a href="https://www.youtube.com/channel/UCc6LZxCGW8tEy31fBx5Uemw" class="grey">
                        <i class="fab fa-youtube"></i> Youtube
                    </a></li>
                <li><a href="mailto:thallia@thalliatree.net" class="grey">
                        <i class="fas fa-envelope-square"></i> Email
                    </a></li>
    
                    <li><p class="copyright">copyright 2019 thallia</p></li>
                </ul>


            </footer>

<script>
    {% include bootstrap.js %}
</script>
<script>
    {% include jquery.js %}
</script>

</body>
