/*Main stylez page


This file contains the custom style elements

    --Table of contents--

    ~High level declarations
        ~Colors
    ~Low level declarations
        ~navbar
        ~sidebar
        ~footer
        ~@media
        

*/


/*--High Level Declarations--*/

body {
    font-size: 1.3rem;
    font-family: ubuntu-b;
    max-width: 100%;
    
}

img {
    max-width: 100%;
}

p {
    font-family: ubuntu-l;
}

nav li,
footer li {
    list-style: none;
    display: inline;
}

.card {
    background-color: transparent;
    border:0px solid transparent;
}

@font-face {
    src: url(/images/Ubuntu-B.ttf);
    font-family: ubuntu-b; /*bold*/
}

@font-face {
    src: url(/images/Ubuntu-L.ttf);
    font-family: ubuntu-l; /*light*/
}

@font-face {
    src: url(/images/Ubuntu-M.ttf);
    font-family: ubuntu-m;
}


/*-Colors-*/


body {
    background-color: #252A34;
}

pre,
.sidebar:hover,
nav > a,
nav > div a,
body {
    color:#D3D3D5;
}

nav > a:hover,
nav > div a:hover {
    color:rgb(143, 134, 134);
}

a {
    color:#8CD2D5;
}

a:hover {
    color:white;
}

.treePic img,
.grey:hover,
.grey,
.sidebar,
.Lgrey {
    color:#A0A1A5;
}

.post-link:hover {
    color:rgb(176, 196, 197);
 }

.Recent,
nav
 {
    border-bottom: 1px solid #51555D;
}


section > ul > li > a,
nav > a:hover,
nav > div a:hover {
    text-decoration: underline #8CD2D5;
    transition:0.3s;
}

pre {
    background-color: #263238;
}

nav,
.footer {
    background-color: #1A1D24;
}


/*--Low level declarations--*/

/*navbar*/
nav > a,
nav > div a {
    font-size: 1.4rem;
}

nav li {
    padding-left:10%;
}

/*sidebar*/

.sidebar:hover {
    transition:0.4s;
}

.sidebar {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 10;
    overflow: hidden;
    max-height: 90%;
    font-size: 0.9rem;
}

.treePic img {
    border: 1px solid;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    overflow:hidden;
    padding: 5px;
}

div.sidebar > p {
    font-family: ubuntu-m;
}

.sidebar-text {
    font-family: ubuntu-m;
}

/*footer*/



.footer {
    position: fixed;
    bottom:0;
}

.footerlink a {
    margin: 1%;
}

.copyright {
    font-size: 0.9rem;
    float: right;
}

/*home page*/

.pagination a, .pagination span {
    padding: 7px 18px;
    border-top: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: transparent;
    display: inline-block;
  }

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }

/*tidBits and portfolio*/

.portfolio-desc,
.tidBits-desc {
    font-size:1rem;
}

/*search page*/

.search-results {
    display:block;
    font-family: ubuntu-m;
}

/*tables*/

table {
    margin:2%;
    width:100%;
}

tr {
    font-family: ubuntu-l;
    font-size: 1.2rem;
}

th {
    background-color: #51555D;
}

td {
    border-bottom: 1px solid #51555D;
}



/*@media*/

@media only screen and (max-width: 800px) {

    .none {
        display: none;
    }
}

@media only screen and (max-width: 864px) {
    nav > div a > h4 {
    font-size: 1.3rem;
     }
}

@media only screen and (max-width: 766px) {
    nav > div a > h4 {
        font-size: 0.9rem;
         }
}


/*misc*/

.grey {
    font-family: ubuntu-m;
    font-size: 1rem;
    padding: -1%;
}


section > ul > li > a {
    font-size:1.9rem;
    font-family: ubuntu-m;
}

