<!--Navbar-->
<nav class="col-md-12 sticky-top footerlink">

<div class="d-flex p-2 bg-transparent"></div>

<div class="d-flex justify-content-end">

<div class="card-deck col-md-12 footerlink">

 

<div class="col-md-12 card-group footerlink">
    
    <div class="d-flex p-2 bg-transparent"></div>
    
<div class="card bg-transparent mt-2 text-center">
            <a href="/"><h4>Home</h4></a>    
        </div>


<div class="card bg-transparent mt-2 text-center">
    <a href="/tidBits"><h4>tidBits</h4></a>    
</div>    

<div class="card bg-transparent mt-2 text-center">
        <a href="/subscribe"><h4>Subscribe</h4></a>    
    </div> 

    <div class="card bg-transparent mt-2 text-center">
            <a href="/about"><h4>About</h4></a>    
        </div> 

        <div class="card bg-transparent mt-2 text-center">
                <a href="/search"><h4><i class="fab fa-searchengin"></i> Search</h4></a>    
            </div> 
            
        <div class="card bg-transparent mt-2 text-center">
                    <a href="/portfolio"><h4>Portfolio</h4></a>    
            </div> 

    </div>


</div>

</div>
</div>

<div class="d-flex p-2 bg-transparent"></div>
</nav>
