<!--Sidebar-->


<div class="card col-md-3 position-fixed none sidebar">
        <div class="col-md-10">
        <div class="d-flex p-4 bg-transparent"></div>

<div class="treePic">
    <img src="/images/thalliastree.png" class="col-md-10">
</div>

    <div class="d-flex p-3 bg-transparent"></div>

    <h3>thallia</h3>
    <p class="sidebar-text">
            I'm an undergraduate electrical engineering major hoping to someday develop new medical instrumentation and diagnostic devices. This blog is a documentation of my adventures from beginner maker and programmer to fulfilling my aspirations. 
    </p>

</div>
</div>
