---
layout: basic
---


<div class="gard-group col-md-13">
   {% include sidebar.html %}

   <div class="col-md-6 card offset-md-3">

    <div class="d-flex p-3 bg-transparent"></div>
    {{content}}


  
</div>
<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>


