---
layout: basic
---


<div class="gard-group col-md-12">

    
    {% include sidebar.html %}

<div class="col-md-5 card offset-md-3">



    <!--Post-->
    {% for post in paginator.posts %}
 
    <div class="post mt-4">
 
      <h2 class="post-title">
 
          <a href=" {{ post.url }}" class="post-link">{{ post.title }}</a>
 
      </h2>
 
      <!--Excerpt-->
 
        <p class="excerpt">{{ post.excerpt | strip_html }}</p>
      </div>
    {% endfor %}


    <div class="d-flex p-4 bg-transparent"></div>


<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

</div>
</div>


<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>