---
layout: basic
---

<div class="gard-group col-md-13">
        {% include sidebar.html %}
     
        <div class="col-md-7 card offset-md-3">
                <div class="d-flex p-3 bg-transparent"></div>

        {{content}}   

        <div class="card-deck col-md-11">

        {% for portfolio in site.portfolio %}

        <div div class="col-md-5 text-center"><h3><a href="{{ portfolio.url }}" class="post-link">{{ portfolio.title }}</a></h3>
            <img class="col-md-12" src="{{ portfolio.image }}" alt="{{ portfolio.title }}">
            <p class="portfolio-desc">{{ portfolio.description }}</p>
</div>
    {% endfor %}
    </div>


        </div>

</div>
<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>
