---
layout: basic
comments: true
---

<div class="gard-group col-md-1j">
        {% include sidebar.html %}
     
        <div class="col-md-7 card offset-md-3">
                <div class="d-flex p-3 bg-transparent"></div>
                <h1 class="text-center">
                        <div class="d-flex p-4 bg-transparent"></div>
                
                    {{ page.title }}</h1>
{{ content | toc }}

<h1></h1>
{% include disqus_comments.html %}


<div class="d-flex p-3 bg-transparent"></div>
<h3>Posts you might also like</h3>
<ul>
        {% for post in site.posts limit:5 %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
        </ul>     

</div>

<div class="d-flex p-5 bg-transparent"></div>

