---
layout: basic
---
<div class="gard-group col-md-13">
  {% include sidebar.html %}
<div class="offset-md-4">

<div class="col-md-6">

  <div class="d-flex p-4 bg-transparent"></div>

    <h1>Search Posts</h1>
                      <!-- Html Elements for Search -->
<div id="search-container">
    <input type="text" id="search-input" placeholder="search...">
    <ul id="results-container"></ul>
    </div>
    
    <!-- Script pointing to search-script.js -->
    <script src="/search.js" type="text/javascript"></script>
    
    <!-- Configuration -->
    <script>
    SimpleJekyllSearch({
      searchInput: document.getElementById('search-input'),
      resultsContainer: document.getElementById('results-container'),
      json: '/search.json'
    })
    </script>
    <!-- Page Content  -->
</div>
</div>
<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>
