---
layout: basic
---


<div class="gard-group col-md-12">
        {% include sidebar.html %}
     

        <div class="col-md-6 card offset-md-4">
     
         <div class="d-flex p-3 bg-transparent"></div>
<h1>Subscribe</h1>     

<p>Stay up to date on my projects and nerd discoveries :)</p>

<form action="https://getsimpleform.com/messages?form_api_token=0707300ed855a8bcdd635ce7c4e82163" method="post">
  	<!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type="hidden" name="redirect_to" value="http://thalliatree.net/thankyou/" />
  <input type="text" value="Name" name="Name" />

  <div class="d-flex p-2 bg-transparent"></div>

  <input type="text" value="Email" name="Email" />
  <input type="submit" value="Subscribe" />
</form>

</div>