---
layout: basic
---

<div class="gard-group col-md-12">
        {% include sidebar.html %}
     
                        <div class="d-flex p-4 bg-transparent"></div>
        <div class="d-flex justify-content-center">

                <div class="col-md-8 card offset-md-3">
                        <div class="d-flex p-4 bg-transparent"></div>

                <h1>tidBits of information</h1>
            </a>
            <div class="d-flex p-4 bg-transparent"></div>

                        <div class="card-deck col-md-12">

            {% for tidBits in site.tidBits %}

            <div div class="col-md-5 text-center"><h3><a href="{{ tidBits.url }}" class="post-link">{{ tidBits.title }}</a></h3>
                <img class="col-md-12" src="{{ tidBits.image }}" alt="{{ tidBits.title }}">
                <p class="tidBits-desc">{{ tidBits.description }}</p>
</div>
        {% endfor %}

</div>
</div>

</div>
</div>
<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>
